@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import "./variables.scss";

*{
  padding: 0;
  margin: 0;
}

body {
  font-family: $fontDefault;
  background-color: $bgColor;
  color: $textColor;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.card {
  max-width: 300px;
  height: 400px;
  padding: $paddingDefault + $paddingDefault;
  border-radius: $borderRadiusDefault;
  background-color: gray;
  
  .title {
    font-family: $fontDefault;
    font-weight: 'bold';
    font-size: 24px;
  }
  .image {
    max-width: 280px;
    height: auto;
  }
  .button {
    padding: $paddingDefault + $paddingDefault;
    border-radius: $borderRadiusDefault;
    color: white;
    transition: $transitionSpeed;
    &._danger {
      background-color: red;
      &:hover{
        background-color: orange;
      }
    }
    &._success {
      background-color: green;
      &:hover{
        background-color: purple;
      }
    }
  }

}

#contact {
  & > input[type="text"] {
    background-color: black;
    color: $textColor;
  }
  & > input[type="submit"] {
    background-color: purple;
    color: white;
    transition: 0.3s;
    padding: 30px;
    border-radius: 10px;

    &:hover {
      background-color: white;
      color: purple;
    }
  }
}
